@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: $text

::selection
	background-color: $accent
	color: #fff
li
	list-style: none
dl, ol, ul,p
	margin: 0
	padding: 0
.no-gutter > [class*='col-']
	padding-right: 0
	padding-left: 0
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65 
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: $dark_bg
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha (opacity=$opacity)
.preloader
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 100
	background-color: $dark_bg
	.pulse
		position: relative
		left: 48%
		top: 50vh
		margin:
			top: -40px
			right: -40px
		&::before, &::after
			content: ''
			border: 5px solid #323232
			width: 80px
			height: 80px
			border-radius: 500px
			position: absolute
		&::before
			animation: pulse-outer .8s ease-in infinite
		&::after
			animation: pulse-inner .8s linear infinite
@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)

@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.nav_list
	margin-top: 50px
	display: flex
	width: 100%
	justify-content: flex-end
	align-items: center
	li
		margin-right: 45px
		&:last-child
			margin-right: 0
.nav_link
	color: #ffffff
	opacity: .8
	font-size: 20px
	transition: all .3s ease
	font-weight: 500
	&:hover
		color: $accent
		opacity: 1
		text-decoration: none
.top_content
	background-repeat: no-repeat
	background-position: center center
	background-size: cover	
.first_screen_figure	
	width: 100%
	max-width: 185px
	margin-left: -120px
	margin-top: 75px
.carousel_item
	font-size: 29px
	color: #ffffff
	h4
		font-family: "gotham",sans-serif
		font-size: 55px
		margin-bottom: 50px
	p
		max-width: 700px
		margin-bottom: 60px
	.more_btn
		background: $accent
		color: #ffffff
		font-size: 22px
		padding: 25px 40px
		display: inline-block
		line-height: 1
		transition: all .3s ease
		&:hover
			text-decoration: none
			background-color: #fff
			color: $accent
.owl-theme .owl-dots, .owl-theme .owl-nav
	text-align: right
.owl-theme .owl-dots .owl-dot span
	background: $accent
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background: $accent
	opacity: 0.8
.services
	margin-top: 230px
.services_item
	position: relative
	margin-right: 30px
	margin-bottom: 30px
	@media (min-width: 992px)
		flex: 0 0 30% !important
	.services_info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		font-size: 21px
		font-family: 'gotham',sans-serif
		color: #ffffff
		padding: 15px 40px
		background-color: rgba(#292929,.9)
		min-height: 100px
		z-index: 2
	&:hover .hide_content
		height: 135px
		margin-top: 15px
	&:hover .services_info
		background-color: rgba(#000,.9)
	.hide_content
		font-size: 11px
		overflow-y: scroll
		font-family: $default-font
		transition: all .3s ease
		height: 0
		&::-webkit-scrollbar
			display: none
	p
		margin: 0
		position: relative
		&:before
			content: ''
			display: inline-block
			width: 3px
			height: 100%
			position: absolute
			top: 0
			left: -15px
			background-color: #fabe00
	.arrow
		display: inline-block
		font-size: 36px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 15px
		width: 15px
		color: #fabe00
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		z-index: 1
		background-color: rgba(#fabe00,.7)
.advantages
	margin-top: 160px
	border-top: 1px solid grey
	.container
		border-right: 1px solid grey
		border-left: 1px solid grey
		[class*=col-]
			border-right: 1px solid grey
			&:last-child
				border-right: none
.advantages_item
	padding: 35px 20px
	background-position: center center
	background-repeat: no-repeat
	background-size: 100% 100%
	height: 100%

.top_labels_advantages
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 80px
	p
		font-size: 30px
		font-weight: 500
	img
		width: 60px
.advantages_header
	font-size: 30px
	line-height: 1.5
	font-family: 'gotham',sans-serif
	margin-bottom: 75px
.advantages_text
	font-weight: 500
	line-height: 1.2
	font-size: 24px
	color: #adacac
	position: relative
	&:before
		content: ''
		display: inline-block
		height: 3px
		width: 35px
		background-color: $accent
		position: absolute
		left: 0
		top: -30px
.info_section
	background-color: #000
	.container
		border-right: 1px solid grey
		border-left: 1px solid grey
.info_carousel
	padding: 30px 60px
	padding-top: 100px
	.owl-dots
		text-align: left
	.owl-nav
		font-family: "gotham",sans-serif
		font-size: 18px
		position: relative
		bottom: -33px
		text-transform: uppercase
.owl-theme .owl-nav [class*=owl-]:hover
	background-color: transparent
	p
		font-weight: 500
		line-height: 1.2
		font-size: 24px
		color: #adacac
		position: relative
.info_carousel_header
	font-size: 40px
	font-family: "gotham",sans-serif
	line-height: 1.2
	margin-bottom: 55px
	position: relative
	padding-top: 25px
	&:before
		content: ''
		display: inline-block
		height: 3px
		width: 35px
		background-color: $accent
		position: absolute
		left: 0
		top: 0px
.info_desc
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	height: 100%
	position: relative
	width: 150%
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		z-index: 1
		background-color: rgba(#fabe00,.7)
	h3
		font-size: 22px
		position: absolute
		top: 210px
		left: 100px
		width: 40%
		z-index: 2
	.get_more_link
		position: absolute
		bottom: 60px
		left: 100px
		font-size: 18px
		color: #ffffff
		z-index: 2
		img
			width: 40px
			margin-left: 15px
.bottom_content
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	.info_desc
		margin-left: -50%
		h3
			left: auto
			right: 100px
		.get_more_link
			left: auto
			right: 100px
.map_section
	margin-top: 140px
	.map_header
		font-size: 40px
		font-family: "gotham",sans-serif
		line-height: 1.2
		margin-bottom: 55px
		position: relative
		&:before
			content: ''
			display: inline-block
			height: 3px
			width: 35px
			background-color: $accent
			position: absolute
			left: 0
			top: -30px
	.map_text
		font-weight: 500
		line-height: 1.2
		font-size: 24px
		color: #adacac

.contact_us
	padding-top: 200px
	background-color: $dark_bg
.form_wrapper
	display: flex
	justify-content: space-between
	align-items: flex-start
	background-color: $dark
	border-radius: 20px
	padding: 50px 120px
.info_column
	width: 47%
.form_heading
	text-transform: uppercase
	margin-bottom: 40px
.form_header
	font-size: 43px
	font-family: "gotham",sans-serif
	margin-bottom: 40px
.form_text
	font-size: 18px
	color: #999
.contacts_list
	margin-top: 40px
.contacts_list_item
	display: flex
	align-items: center
	justify-content: flex-start
	margin-bottom: 20px
	.contacts_list_img
		width: 50px
	.contact_text
		font-family: "gotham",sans-serif
		font-size: 13px
		max-width: 220px
		margin-left: 20px
		a
			color: $text
		span
			display: block
.success
		position: absolute
		display: none
		top: 0
		right: 0
		left: 0
		bottom: 0
		background-color: rgba(255,255,255,.7)
		z-index: 2
		.success_text
			display: block
			position: absolute
			top: 50%
			left: 50%
			font-size: 24px
			transform: translate(-50%,-50%)
		.close_succes
			color: #000
			position: absolute
			width: 25px
			height: 25px
			top: 20px
			left: 20px
			cursor: pointer
			&:before,&:after
				content: ''
				width: 100%
				height: 3px
				background-color: #000
				display: block
				transform-origin: 10px 2px
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg)
.callback
	width: 100%
	input,textarea
		background-color: transparent
		border: none
		outline: none
		color: $text
		font-size: 13px
		font-family: "gotham",sans-serif
		width: 100%
		line-height: 55px
		border-bottom: 2px solid $text
.sub_button
	width: 100%
	background-color: $text
	color: $dark
	text-align: center
	border-radius: 35px
	border: none
	outline: none
	margin-top: 40px
	padding: 20px 0
	cursor: pointer
.form_label
	text-align: right
	font-family: "gotham",sans-serif
	font-size: 35px
	position: relative
	&:before
		content: ''
		display: inline-block
		height: 3px
		width: 35px
		background-color: $accent
		position: absolute
		right: 0
		top: -20px
.partners
	padding: 150px 0
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
.partners_img
	max-width: 25%
	width: 20%
.footer
	background-color: $dark
	padding: 60px
	color: #848484
	a
		display: block
		color: inherit
.footer_logo
	width: 110px
	margin-bottom: 15px

@import "media" // Always at the end
